user  nginx;
worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;

events {
  worker_connections  1024;
}

http {
  resolver $NAMESERVERS;

  server_tokens off;

  include       /etc/nginx/mime.types;
  default_type  application/octet-stream;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    '$status $body_bytes_sent "$http_referer" '
    '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  /var/log/nginx/access.log  main;
  keepalive_timeout  65;

  server {
    listen      80;
    server_name static;

    access_log  /var/log/nginx/access.log  main;

    root /usr/share/nginx/html;

    location ~* \.(?:woff2|otf)$ {
      add_header "Cache-Control" "max-age=31557600, immutable";
    }

    location / {
      try_files $uri $uri/;
    }
  }

}
