# System
.DS_Store

# ENV
.env

# IDE
.vscode
.idea

# Node
node_modules
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
/node_modules
/.pnp
.pnp.js

# Build
lib
dist
cache
.cache

# testing
/coverage

# TypeScript cache
*.tsbuildinfo

# Gatsby
public

# next.js
/.next/
/out/

# production
/build

# misc
*.pem

# vercel
.vercel