# System
.DS_Store

# IDE
.vscode
.idea

# Node
node_modules
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Build
lib
dist
cache
.cache

# Gatsby
public
docs/static/assets
