.wrapper {
  font-family: 'Averta Std', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #fff;
  color: rgb(153, 156, 160);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  box-shadow: 0 0 10px 1px #33333333;
  font-size: 1.4rem;
  margin-top: 10px;
}

.item {
  padding: 0.25rem;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: all 0.4s;
}

.activeItem {
  border-bottom: 1px solid #333;
  color: #333;
}
