.resizer {
    display: inline-block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.resizer:after {
    content: '""';
    position: absolute;
    width: 1px;
    height: 70%;
    bottom: 15%;
    right: 0;
}

.isResizing:after {
    background: #39a275;   
}