@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Averta Std';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  unicode-range: 'U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD';
  src: local('AvertaStd-Regular'), local('Averta Std Regular'),
    url('https://sportsbet.io/sportsbet-io/files/fonts/averta-std/regular.woff2')
      format('woff2');
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}

.theme-moon-dark {
  --piccolo-120: #e5e5e5;
  --piccolo: #ffffff;
  --piccolo-80: #e5e5e5;

  --hit-120: #292929;
  --hit: #0b0b0b;
  --hit-80: #292929;

  --beerus: #1f1f1f;

  --goku: #000000;
  --goku-80: #000000;
  --goku-40: #000000;
  --goku-10: #000000;

  --gohan: #0b0b0b;
  --gohan-80: #292929;
  --gohan-40: #292929;
  --gohan-10: #0b0b0b;

  --goten: #000000;

  --bulma: #ffffff;

  --trunks: #999ca0;
}

.theme-moon-light {
  --piccolo-120: #292929;
  --piccolo: #000000;
  --piccolo-80: #292929;

  --hit-120: #e5e5e5;
  --hit: #ffffff;
  --hit-80: #e5e5e5;

  --beerus: #ebebeb;

  --goku: #f5f5f5;
  --goku-80: #f5f5f5;
  --goku-40: #f5f5f5;
  --goku-10: #f5f5f5;

  --gohan: #ffffff;
  --gohan-80: #f5f5f5;
  --gohan-40: #f5f5f5;
  --gohan-10: #ffffff;

  --goten: #ffffff;

  --bulma: #000000;

  --trunks: #999ca0;
}

.theme-bitcasino-dark {
  --piccolo-120: #f54100;
  --piccolo: #ff4f0f;
  --piccolo-80: #fa642e;

  --hit-120: #572385;
  --hit: #642e94;
  --hit-80: #7139a2;

  --beerus: #521b81;

  --goku: #24033f;
  --goku-80: #320854;
  --goku-40: #4c1a75;
  --goku-10: #65348d;

  --gohan: #3e0d68;
  --gohan-80: #4b1679;
  --gohan-40: #642e94;
  --gohan-10: #7e48ad;

  --goten: #ffffff;

  --bulma: #ffffff;

  --trunks: #a18eb4;
}

.theme-bitcasino-light {
  --piccolo-120: #f54100;
  --piccolo: #ff4f0f;
  --piccolo-80: #fa642e;

  --hit-120: #d9e3e8;
  --hit: #e3eaed;
  --hit-80: #edf1f3;

  --beerus: #eaeef0;

  --goku: #f3f5f6;
  --goku-80: #eaeef0;
  --goku-40: #d8e0e3;
  --goku-10: #c5d2d8;

  --gohan: #ffffff;
  --gohan-80: #f7f7f7;
  --gohan-40: #e8e8e8;
  --gohan-10: #d9d9d9;

  --goten: #ffffff;

  --bulma: #0f161f;

  --trunks: #8697a2;
}

.theme-sportsbet-dark {
  --piccolo-120: #02c054;
  --piccolo: #0ccf61;
  --piccolo-80: #18dc6d;

  --hit-120: #2d3139;
  --hit: #393e47;
  --hit-80: #454a54;

  --beerus: #31373f;

  --goku: #232a33;
  --goku-80: #353c44;
  --goku-40: #4c5159;
  --goku-10: #62676d;

  --gohan: #1a212a;
  --gohan-80: #31373f;
  --gohan-40: #5f646a;
  --gohan-10: #8c9095;

  --goten: #ffffff;

  --bulma: #ffffff;

  --trunks: #8697a2;
}

.theme-sportsbet-light {
  --piccolo-120: #02c054;
  --piccolo: #0ccf61;
  --piccolo-80: #18dc6d;

  --hit-120: #d6d8db;
  --hit: #dfe0e2;
  --hit-80: #e7e8e9;

  --beerus: #e6e6e6;

  --goku: #ffffff;
  --goku-80: #f1f2f3;
  --goku-40: #e0e3e6;
  --goku-10: #ced4d9;

  --gohan: #f7f7f7;
  --gohan-80: #f0f0f0;
  --gohan-40: #e0e0e0;
  --gohan-10: #d1d1d1;

  --goten: #ffffff;

  --bulma: #1a212a;

  --trunks: #607680;
}

.theme-hub88 {
  --piccolo-120: #054cff;
  --piccolo: #1a5bff;
  --piccolo-80: #386ef5;

  --hit-120: #a4afb6;
  --hit: #abb7bf;
  --hit-80: #b5bec5;

  --beerus: #ffffff;

  --goku: #f3f5f6;
  --goku-80: #eaeef0;
  --goku-40: #d8e0e3;
  --goku-10: #c4d2d9;

  --gohan: #ffffff;
  --gohan-80: #f6f7f8;
  --gohan-40: #e4e8ec;
  --gohan-10: #d1d9e0;

  --goten: #e2e6e9;

  --bulma: #010913;

  --trunks: #8697a2;
}
