:root.theme-tradeart-mini-betting,
.theme-tradeart-mini-betting {
  --piccolo: 178 146 101; /* #b29265 */
  --hit: 96 96 96; /* #606060 */
  --beerus: 82 81 81; /* #525151 */
  --gohan: 57 56 56; /* #393838; */
  --goten: 255 255 255; /* #ffffff */
  --goku: 40 39 39; /* #282727 */
  --bulma: 255 255 255; /* #ffffff */
  --trunks: 151 146 146; /* #979292 */
  --popo: 0 0 0; /* #000000 */
  --jiren: 178 146 101 / 0.2; /* #b29265 */
  --heles: 255 255 255 / 0.12; /* #ffffff */
  --zeno: 0 0 0 / 0.32; /* #000000 */

  /* support-colors  */
  --krillin: 255 138 1; /* #ff8a01 */
  --krillin-60: 255 138 1 / 0.56; /* #ff8a01 */
  --krillin-10: 255 138 1 / 0.08; /* #ff8a01 */

  --chichi: 255 78 100; /* #ff4e64 */
  --chichi-60: 255 78 100 / 0.56; /* #ff4e64 */
  --chichi-10: 255 78 100 / 0.08; /* #ff4e64 */

  --roshi: 73 179 86; /* #49b356 */
  --roshi-60: 73 179 86 / 0.56; /* #49b356 */
  --roshi-10: 73 179 86 / 0.08; /* #49b356 */

  --dodoria: 190 88 66; /* #be5842 */
  --dodoria-60: 190 88 66 / 0.56; /* #be5842 */
  --dodoria-10: 190 88 66 / 0.08; /* #be5842 */

  --cell: 27 210 154; /* #1bd29a */
  --cell-60: 27 210 154 / 0.56; /* #1bd29a */
  --cell-10: 27 210 154 / 0.08; /* #1bd29a */

  --raditz: 179 128 74; /* #b3804a */
  --raditz-60: 179 128 74 / 0.56; /* #b3804a */
  --raditz-10: 179 128 74 / 0.08; /* #b3804a */

  --whis: 46 105 255; /* #2e69ff */
  --whis-60: 46 105 255 / 0.56; /* #2e69ff */
  --whis-10: 46 105 255 / 0.08; /* #2e69ff */

  --frieza: 111 59 255; /* #6f3bff */
  --frieza-60: 111 59 255 / 0.56; /* #6f3bff */
  --frieza-10: 111 59 255 / 0.08; /* #6f3bff */

  --nappa: 0 142 173; /* #008ead */
  --nappa-60: 0 142 173 / 0.56; /* #008ead */
  --nappa-10: 0 142 173 / 0.08; /* #008ead */

  /* border-radius */
  --radius-i-xs: 0.25rem; /* 4px */
  --radius-i-sm: 0.5rem; /* 8px */
  --radius-i-md: 0.75rem; /* 12px */
  --radius-s-xs: 0.25rem; /* 4px */
  --radius-s-sm: 0.5rem; /* 8px */
  --radius-s-md: 0.75rem; /* 12px */
  --radius-s-lg: 1rem; /* 16px */

  /* border-width */
  --border-width: 0.0625rem; /* 1px */
  --border-i-width: 0.125rem; /* 2px */

  /* opacity */
  --opacity-moon: 0.6;

  /* fonts */
  --averta: 'Averta Std';
  --dm-sans: 'DM Sans';

  /* box-shadow */
  --shadow-xs: 0 4px 12px -6px rgb(0 0 0 / 0.06);
  --shadow-sm: 0 6px 6px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
  --shadow-md: 0 12px 12px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
  --shadow-lg: 0 8px 24px -6px rgb(0 0 0 / 0.16), 0 0 1px rgb(0 0 0 / 0.4);
  --shadow-xl: 0 32px 32px -8px rgb(0 0 0 / 0.08),
    0 0 32px -8px rgb(0 0 0 / 0.12), 0 0 1px rgb(0 0 0 / 0.2);
}
