/* Custom styles */
body {
  background-color: black;
}

.for-designers {
  /* height: 32.5rem; */
  top: 50px;
  right: 23rem;
}

.for-developers {
  /* height: 32.5rem; */
  top: 28.1rem;
  right: 0;
}

.hover-border:hover {
  border-radius: 100px;
  /* transition: border-radius 150ms; */
}

.carousel-item {
  min-width: 468px;
  height: 292px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.carousel-item--vertical {
  min-width: 276px;
  height: 448px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.reel {
  /**
     * Scroll Behavior
     */
  --webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
  scrollbar-width: none; /* Hide Scrollbars on browsers that don't support custom scrollbars. */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hide scrollbars on IE/Edge. */
}

.reel::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
