/* Custom styles */
body {
  background-color: black;
}

.for-designers {
  /* height: 32.5rem; */
  height: 25rem;
  width: 23rem;
  top: 50px;
  right: 23rem;
}

.for-developers {
  /* height: 32.5rem; */
  height: 25rem;
  width: 23rem;
  top: 28.1rem;
  right: 0;
}

.future {
  /* TODO rem based */
  width: 1040px;
  min-height: 248px;
}

.hover-border:hover {
  border-radius: 100px;
  /* transition: border-radius 150ms; */
}

.carousel-item {
  width: 468px;
  height: 292px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.breakout {
  /* margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%); */
}
/* End of custom styles */
