/* Custom styles */
body {
  background-color: black;
}

.for-designers {
  top: 50px;
  right: 23rem;
}

.for-developers {
  top: 28.1rem;
  right: 0;
}

.hover-border:hover {
  border-radius: 100px;
  /* transition: border-radius 150ms; */
}

.carousel-item {
  min-width: 468px;
  height: 292px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.carousel-item--vertical {
  min-width: 276px;
  height: 448px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.reel {
  /**
     * Scroll Behavior
     */
  --webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
  scrollbar-width: none; /* Hide Scrollbars on browsers that don't support custom scrollbars. */
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Auto-hide scrollbars on IE/Edge. */
}

.reel::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.vision-scene {
  perspective: 600px;
}

.vision-page {
  background-image: url('../public/vision_moon.png');
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: right top;
  background-size: 60%;
  background-position: 130% -1%;
}

@media (min-width: 1536px) {
  .vision-page {
    background-size: 40%;
    background-position: 90% -1%;
  }
}

.vision-card {
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.vision-card.is-flipped {
  transform: rotateY(180deg);
}

.vision-card-front {
  background: #141414;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.vision-card-back {
  background: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

@media (min-width: 1536px) {
  .vision-card-back {
    transform: rotateY(360deg);
  }
}

.vision-card-front-inner-card {
  background: #272727;
}
