a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/**
    * Prevents an unwanted focus outline from appearing around elements that
    * might still respond to pointer events.
    * https://github.com/chris-pearce/backpack.css
*/
[tabindex=\'-1\']:focus {
  outline: none;
}

/**
     * Removes the outline in cases where the UA determines via heuristics that
     * the focus should not be visible. This is mainly for ensuring that a focus
     * indicator (a "focus ring") does not render for mouse users.
     * https://github.com/chris-pearce/backpack.css
*/
*:focus:not(:focus-visible) {
  outline: none;
}
/* If the browser doesn't support `:focus-visible`, use the polyfil */
.js-focus-visible *:focus:not(.focus-visible) {
  outline: none;
}

/**
     * Remove all browser-default margins from certain elements.
     */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
dl,
dd,
ol,
ul,
form,
fieldset,
legend,
figure,
table,
th,
td,
caption,
hr {
  margin: 0;
  padding: 0;
}

/**
    * Remove trailing margins from nested lists and common block items
    */
li > ul,
li > ol,
blockquote {
  margin-top: 0;
}

/**
    * Set default <table>s behavior.
    */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
    * Correct font display behavior
    */
button,
input,
select {
  font-family: inherit;
}

b,
strong {
  font-weight: 500;
}
