@import '@heathmont/moon-themes-tw/src/betadda.css';
@import '@heathmont/moon-themes-tw/src/bitcasino.css';
@import '@heathmont/moon-themes-tw/src/empire.css';
@import '@heathmont/moon-themes-tw/src/lab.css';
@import '@heathmont/moon-themes-tw/src/livecasino.css';
@import '@heathmont/moon-themes-tw/src/moon.css';
@import '@heathmont/moon-themes-tw/src/partners.css';
@import '@heathmont/moon-themes-tw/src/sportsbet.css';
@import '@heathmont/moon-themes-tw/src/tradeart.css';
@import '@heathmont/moon-themes-tw/src/bombayClub.css';
@import '@heathmont/moon-themes-tw/src/hub88.css';
@import '@heathmont/moon-themes-tw/src/travel.css';
@import '@heathmont/moon-themes-tw/src/comms.css';
