.support-colors {
  --krillin: #ffb319;
  --krillin-60: #ffc652;
  --krillin-10: #ffd98d;

  --chichi: #ff4e64;
  --chichi-60: #ff7687;
  --chichi-10: #ff96a3;

  --roshi: #4ad15f;
  --roshi-60: #64dc77;
  --roshi-10: #7ff291;

  --dodoria: #d33030;
  --dodoria-60: #db4e4e;
  --dodoria-10: #f06767;

  --cell: #95f1d5;
  --cell-60: #a2fadf;
  --cell-10: #bfffec;

  --raditz: #b3804a;
  --raditz-60: #c1915d;
  --raditz-10: #d6a979;

  --whis: #3448f0;
  --whis-60: #6777f8;
  --whis-10: #8490f9;

  --frieza: #5c33cf;
  --frieza-60: #734dde;
  --frieza-10: #9271ef;

  --nappa: #725550;
  --nappa-60: #856a66;
  --nappa-10: #a18681;
}

.theme-moon-dark {
  --piccolo: #4e46b4;
  --hit: #40a69f;
  --beerus: #ebebeb;
  --goku: #f5f5f5;
  --gohan: #ffffff;
  --bulma: #000000;
  --trunks: #999ca0;
  --goten: #ffffff;
  --popo: #000000;
}
