:root,
:root.theme-livecasino-light,
.theme-livecasino-light {
  --piccolo: 222 13 62; /* #de0d3e */
  --hit: 169 170 177; /* #a9aab1 */
  --beerus: 229 233 240; /* #e5e9f0 */
  --gohan: 255 255 255; /* #ffffff */
  --goten: 255 255 255; /* #ffffff */
  --goku: 240 246 255; /* #f0f6ff */
  --bulma: 15 22 31; /* #0f161f */
  --trunks: 134 151 162; /* #8697a2 */
  --popo: 0 0 0; /* #000000 */

  /* support-colors  */
  --krillin: 255 179 25; /* #ffb319 */
  --krillin-60: 255 198 82; /* #ffc652 */
  --krillin-10: 255 217 141; /* #ffd98d */

  --chi-chi: 255 78 100; /* #ff4e64 */
  --chi-chi-60: 255 118 135; /* #ff7687 */
  --chi-chi-10: 255 150 163; /* #ff96a3 */

  --roshi: 74 209 95; /* #4ad15f */
  --roshi-60: 100 220 119; /* #64dc77 */
  --roshi-10: 127 242 145; /* #7ff291 */

  --dodoria: 211 48 48; /* #d33030 */
  --dodoria-60: 219 78 78; /* #db4e4e */
  --dodoria-10: 240 103 103; /* #f06767 */

  --cell: 149 241 213; /* #95f1d5 */
  --cell-60: 162 250 223; /* #a2fadf */
  --cell-10: 191 255 236; /* #bfffec */

  --raditz: 179 128 74; /* #b3804a */
  --raditz-60: 193 145 93; /* #c1915d */
  --raditz-10: 214 169 121; /* #d6a979 */

  --whis: 52 72 240; /* #3448f0 */
  --whis-60: 103 119 248; /* #6777f8 */
  --whis-10: 132 144 249; /* #8490f9 */

  --frieza: 92 51 207; /* #5c33cf */
  --frieza-60: 115 77 222; /* #734dde */
  --frieza-10: 146 113 239; /* #9271ef */

  --nappa: 114 85 80; /* #725550 */
  --nappa-60: 133 106 102; /* #856a66 */
  --nappa-10: 161 134 129; /* #a18681 */

  /* border-radius */
  --radius-i-xs: 0.25rem; /* 4px */
  --radius-i-sm: 0.5rem; /* 8px */
  --radius-i-md: 0.75rem; /* 12px */
  --radius-s-xs: 0.25rem; /* 4px */
  --radius-s-sm: 0.5rem; /* 8px */
  --radius-s-md: 0.75rem; /* 12px */
  --radius-s-lg: 1rem; /* 16px */

  /* border-width */
  --border-width: 0.0625rem; /* 1px */
  --border-i-width: 0.125rem; /* 2px */

  /* opacity */
  --opacity-moon: 0.32;

  /* fonts */
  --averta: 'Averta Std';
}

:root.theme-livecasino-dark,
.theme-livecasino-dark {
  --piccolo: 222 13 62; /* #de0d3e */
  --hit: 103 105 126; /* #67697e */
  --beerus: 50 53 72; /* #323548 */
  --gohan: 25 29 51; /* #191d33 */
  --goten: 255 255 255; /* #ffffff */
  --goku: 0 7 15; /* #00070f */
  --bulma: 255 255 255; /* #ffffff */
  --trunks: 134 151 162; /* #8697a2 */
  --popo: 0 0 0; /* #000000 */
}
